<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Users</title>
    </head>
    <body>

        <div th:if="${session.user}">
        <h1>Users</h1>
        </div>
        
        <ul>
        <li th:each="user:${users}">              
                <span th:text="${user.username}"/>  
                <span th:text="${user.password}"/>
                <br/>                             
            </li>
        </ul>
    </body>
</html>